html {
  box-sizing: border-box;
  margin: none;
}

body {
  font-family: cursive;
  background-color: #ff6969;
}

.but {
  background-color: #c70039;
  color: white;
  position: absolute;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.taskbg {
  background: #f8e3b0;
  background-size: 25px 25px;
}
.li {
  background: #ff6969;
  list-style-type: disc;
}
